{% include "user/components/header.html" %}
{% include "user/components/navbar.html" %}

<!-- Header Start -->
<<div class="container-fluid mb-5 p-0"
     style="background-image: url('{{ url_for('static', filename='images/headers/' ~ settings.header_image) }}'); background-size: cover; background-position: center;">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="height: 400px; background-color: rgba(0, 0, 0, 0.5);">
        <h3 class="display-3 font-weight-bold text-white">Ekstrakurikuler</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="{{ url_for('home') }}">Beranda</a></p>
            <p class="m-0 px-2">></p>
            <p class="m-0">Ekstrakurikuler</p>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Extracurricular List Start -->
<div class="container py-5">
    <div class="text-center pb-5">
        <p class="section-title px-5"><span class="px-2">Jelajahi Ekstrakurikuler</span></p>
        <h1 class="mb-4">Program Ekstrakurikuler</h1>
    </div>
    <div class="row">
        {% for item in extracurriculars %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                {% if item.image %}
                <img src="{{ url_for('static', filename='images/extracurricular/' + item.image) }}" class="card-img-top" alt="{{ item.name }}">
                {% else %}
                <img src="/static/user/img/class-default.jpg" class="card-img-top" alt="{{ item.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title" style="text-align: justify;">{{ item.name }}</h5>
                    <p class="card-text" style="text-align: justify;">{{ item.description[:150]|safe }}...</p>
                    <a href="{{ url_for('extracurricular_detail', extracurricular_id=item._id) }}" class="btn btn-primary px-4 mx-auto mb-4">Baca Selengkapnya</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Extracurricular List End -->

{% include "user/components/footer.html" %}
